# Fortran module binaries
*.mod
*.o

# Build files
build/
debug_build/

# Binaries
bin/
*.e

# Scripts
*.sh

# Library
lib/

# Plots
*.eps
plotting/*.p~
*.pdf

# Emacs backups
*~

# Mead directories
backup/
old/
winint/
fitting/
fitting_consus/
CCL/

# Tests
tests/test_gas_gas

# Note that /data, /hydro and /diagnostics are dealt with separately
# Each directory contains a .gitignore

# Benchmark directory
benchmarks/HMx_*.txt
benchmarks/Alonso_set1
benchmarks/Alonso_set2
benchmarks/OLD

# Library update script
src/update_library.sh*

# Cosmic Emu files
EMU0.txt
xstar.dat
emu_power.dat
emu_params.txt

# Fortran language server config
.fortls
