# Fortran module binaries
*.mod
*.o

# Build files
build/
debug_build/

# Binaries
bin/
*.e

# Library
lib/

# Plots
*.eps
plotting/*.p~

# Emacs backups
src/*.f90~

# Backup directories
src/BACKUP/
BACKUP/

# Mead directories
CFHTLenS/
Limber/
OLD/
RCSLenS/
cosmo-OWLS/
data/
definitions/
diagnostics/
lensing/
matter/
pressure/
profiling/
projection/
variations/
winint/
BAHAMAS/
hydro/

# Library update script
src/update_library.sh*
