# Fortran module binaries
*.mod
*.o

# Build files
build/
debug_build/

# Binaries
bin/
*.e

# Library
lib/

# Plots
*.eps
plotting/*.p~

# Emacs backups
src/*.f90~

# Backup directories
src/BACKUP/
BACKUP/

# Mead directories
CFHTLenS/
Limber/
OLD/
RCSLenS/
cosmo-OWLS/
definitions/
diagnostics/
lensing/
matter/
pressure/
profiling/
projection/
variations/
winint/
BAHAMAS/
hydro/
bias/
Mead2017/

# Note that data directory is dealt with separately with .gitignore in that directory

# Benchmark directory
benchmarks/HMx_*.txt
benchmarks/Alonso_set1
benchmarks/Alonso_set2
benchmarks/OLD

# Library update script
src/update_library.sh*

# Cosmic Emu files
EMU0.txt
xstar.dat
